In [34]:
import pandas as pd
import geopandas as gpd
from pathlib import Path
import importlib
import sys
sys.path.append('..\wwtools')
import mike.plot_data as mp
from mikeio1d.res1d import Res1D, QueryDataReach, QueryDataNode
import mike.plot_map as pm
# from mikeio1d.res1d import Res1D, QueryDataReach, QueryDataNode

In [2]:
def extract_data(results, objects, names):
    df_list = list()
    for result, name in zip(results, names):
        selected_data = mp.selectData(objects, ['Head'], result)
        # return selected_data
        min_values = selected_data.min(axis=0)
        mean_values = selected_data.mean(axis=0)
        # grouped_values = list(zip(min_values, mean_values))
        object_names = selected_data.columns.get_level_values(0)
        sub_df = pd.DataFrame.from_records(list(zip(object_names, min_values, mean_values)), columns=['Object', 'Minimum', 'Mean'], index='Object')
        sub_df.columns = pd.MultiIndex.from_arrays([[name, name], sub_df.columns])
        df_list.append(sub_df)
    return pd.concat(df_list, axis=1)

In [3]:
res_folder = Path(R"C:\Users\SEDINI\Documents\Arbetsmapp\Stenungsund_30063116\mike\2023-11-03\Nya_k_varden")

In [4]:
_base = Res1D(str(res_folder / 'stenungsund_2023Base%MTVV.res'))
_74 = Res1D(str(res_folder / 'stenungsund_2023_74Base%MTVV.res'))
_75 = Res1D(str(res_folder / 'stenungsund_2023_75Base%MTVV.res'))
_77 = Res1D(str(res_folder / 'stenungsund_2023_77Base%MTVV.res'))

In [5]:
summmarized_data = extract_data([_base, _74, _75, _77], ['wNode_692', 'wNode_843', 'wNode_223', 'wNode_744'], ['Nuläge', '+74', '+75', '+77'])

In [6]:
summmarized_data.index = ['Tjörn', 'Valeberget', 'Ekbacken', 'Spekeröd']

In [30]:
_74.nodes['wNode_692']

In [36]:
basePres

                 geometry      Pressure
Junction_1    POINT EMPTY  6.799924e+01
WNODE_1238    POINT EMPTY  3.503939e+01
WNODE_1239    POINT EMPTY  5.698959e+01
WNODE_1242    POINT EMPTY  6.808852e+01
WNODE_1243    POINT EMPTY  6.987949e+01
...                   ...           ...
KUNGALV       POINT EMPTY  2.392578e-06
VV            POINT EMPTY  7.629394e-08
u_UCKLUM_VV   POINT EMPTY  1.525879e-07
HALLEBACK_HR  POINT EMPTY  3.830965e+00
u_UCKLUM_HR   POINT EMPTY -3.635742e-06

[1160 rows x 2 columns]

In [35]:
basePres = pm.create_result_map(_74, 'Pressure', 'min', 'node', 'epsg:3007')

In [77]:
summmarized_data.to_clipboard()