In [2]:
import pandas as pd
import geopandas as gpd
from pathlib import Path
import importlib
import sys
sys.path.append('..\wwtools')
import mike.plot_data as mp
from mikeio1d.res1d import Res1D, QueryDataReach, QueryDataNode
import mike.plot_map as pm
# from mikeio1d.res1d import Res1D, QueryDataReach, QueryDataNode

In [3]:
def extract_data(results, objects, names):
    df_list = list()
    for result, name in zip(results, names):
        selected_data = mp.selectData(objects, ['Head'], result)
        min_values = selected_data.min(axis=0)
        mean_values = selected_data.mean(axis=0)
        object_names = selected_data.columns.get_level_values(0)
        sub_df = pd.DataFrame.from_records(list(zip(object_names, min_values, mean_values)), columns=['Object', 'Minimum', 'Mean'], index='Object')
        sub_df.columns = pd.MultiIndex.from_arrays([[name, name], sub_df.columns])
        df_list.append(sub_df)
    return pd.concat(df_list, axis=1)

In [4]:
res_folder = Path(R"C:\Users\SEDINI\Documents\Arbetsmapp\Stenungsund_30063116\mike\2023-11-03\Nya_k_varden")

## Normalförbrukning

In [4]:
_base = Res1D(str(res_folder / 'stenungsund_2023Base%MTVV.res'))
_74 = Res1D(str(res_folder / 'stenungsund_2023_74Base%MTVV.res'))
_75 = Res1D(str(res_folder / 'stenungsund_2023_75Base%MTVV.res'))
_77 = Res1D(str(res_folder / 'stenungsund_2023_77Base%MTVV.res'))

In [5]:
summmarized_data = extract_data([_base, _74, _75, _77], ['wNode_692', 'wNode_843', 'wNode_223', 'wNode_744'], ['Nuläge', '+74', '+75', '+77'])
summmarized_data.index = ['Tjörn', 'Valeberget', 'Ekbacken', 'Spekeröd']

In [77]:
summmarized_data.to_clipboard()

## Högförbrukning

In [5]:
_base = Res1D(str(res_folder / 'hfb' / 'stenungsund_2023hBase%MTVV.res'))
_74 = Res1D(str(res_folder / 'hfb' / 'stenungsund_2023_74hBase%MTVV.res'))
_75 = Res1D(str(res_folder / 'hfb' / 'stenungsund_2023_75hBase%MTVV.res'))
_77 = Res1D(str(res_folder / 'hfb' / 'stenungsund_2023_77hBase%MTVV.res'))

In [6]:
summmarized_data = extract_data([_base, _74, _75, _77], ['wNode_692', 'wNode_843', 'wNode_223', 'wNode_744'], ['Nuläge', '+74', '+75', '+77'])
summmarized_data.index = ['Tjörn', 'Valeberget', 'Ekbacken', 'Spekeröd']

In [8]:
summmarized_data

               Nuläge                   +74                   +75             \
              Minimum       Mean    Minimum       Mean    Minimum       Mean
Tjörn        5.007985  71.227119  72.129990  73.701790  72.351372  73.948364
Valeberget  51.002247  69.376610  71.967804  73.331474  72.269508  73.777809
Ekbacken    54.999832  72.052200  72.532722  74.095306  72.687347  74.246902
Spekeröd    22.999931  69.843437  72.081955  73.440475  72.336563  73.838669

                  +77
              Minimum       Mean
Tjörn       72.919197  74.319191
Valeberget  73.087914  74.426651
Ekbacken    73.171349  74.490356
Spekeröd    73.050140  74.385910

In [7]:
summmarized_data.to_clipboard()